.client-image-container {
    text-align: center;
    outline: none;
    margin-top: 10%;
  }
  
  .client-image {
    display: block;
    margin: 0 auto;
    background-color: transparent;


   

  }
  