// import mixins from styles folder in assets folder
@import '../../assets/styles/mixins';
@import '../../assets/styles/variable';

.content-field{
    padding-top: 30px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3%;


    @include atSmallestScreen{
        padding-top: 5px;

    }
    &__title{
        font-weight: bold;
        font-family: sans-serif;
        font-size: 1.5em;
        margin-top: 30px;

    }
    &__paragraph{
        font-size: 20px;
    }
}