@import '../../assets/styles/mixins';
@import '../../assets/styles/variable';

.aboutContent {
    width: 80%;
    margin-left: 10%;
    display: table;
    padding: 30px;
    &__title{
        font-weight: bold;
        font-family: "Poppins", sans-serif;
        font-family: "Roboto", sans-serif;
                font-size: 1.4em;
        text-align: center;
        color:#F5882B;
    }
    // &__paragraph{
    //     font-size: 1em;
    //     text-align: justify;
    //     color: black;
    //     font-family: cursive;

    // }
    &__div{
        display: flex;
        @include atSmallestScreen{
            display: block;


        }
    }
    &__img{
        width: 35%;
        padding: 3%;
        float: right;
        @include atSmallestScreen{
            display: block;
            width: 100%;
            padding-top: 10%;


        }
    }
    &__P{
        width: 100%;
        margin-right: 3%;
   
    }
}