@import '../../assets/styles/mixins';
@import '../../assets/styles/variable';

.aboutContent {
    padding-top: 30px;
    width: 80%;
    margin-left: 10%;
    display: inline-block;
    margin-bottom: 50px;

    @include atSmallestScreen{
        padding-top: 5px;
        width: 70%;
        margin-left: 15%;
    }
    &__title{
        font-weight: bold;
    font-family: cursive;
        font-size: 1.4em;
        text-align: center;
        color:#F5882B;
    }
    &__paragraph{
        font-size: 1em;
        text-align: justify;
        color: black;
        font-family: cursive;

    }
}