@import "../../assets/styles/mixins";
@import "../../assets/styles/variable";

.rightContent {
  width: 80%;
  margin-left: 10%;
  display: table;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  &__title {
    font-size: 1.3em;
    font-weight: bolder;
    color: $main-color;
  }
  &__p {
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;  }

}
