@import "../../assets/styles/variable";
@import "../../assets/styles/mixins";

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 111;
  background-color: $main-color;

  &__nav {
    min-height: 0;
    padding: 5px;
  
  }
  &__ul {
    margin-top: auto;
    display: flex;
    list-style: none;
  }
  &__li {
    margin-left: 15px;
    @include atSmallestScreen {
      margin-left: 10px;
    }
  }
  &__li > a {
    color: $main-white;
    @include atSmallestScreen {
      font-size: 15px;
    }
    &:hover {
      text-decoration: none;
      color: $golden-color;
    }
  }
}
