@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/variable.scss';



.title {
  display: flex;
  justify-content: center;
  align-items: center;
  

  &__line {
    width: 10%;
    height: 2px;
    background: $logo-color;

    @include atMdScreen {
      width: 5%;
    }

    @include atLgScreen {
      width: 40%;
    }
  }

  &__heading {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8em;
    font-family:sans-serif;
    font-weight: bolder;
    color: #666666;


    @include atMdScreen {
      width: 100%;

    }
  }
}
