@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/variable.scss';



.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
  

  &__line {
    width: 10%;
    height: 2px;
    background: $logo-color;

    @include atMdScreen {
      width: 5%;
    }

    @include atLgScreen {
      width: 40%;
    }
  }

  &__heading {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-size: 2em;
    font-weight: bolder;
    color: $main-color;


    @include atMdScreen {
      width: 100%;

    }
  }
}
