@import '../../assets/styles/mixins';
@import '../../assets/styles/variable';

// Footer Style
.sections{
    background-color: $main-color;
    min-height: 20vh;
    align-self: auto;
    &__table{
        margin-top: 20px;
        width: 80%;
        // padding-left: 20%;
    }
   
   &__td{
       color: $main-white;
       padding: 5px;
       font-size: 18px;
        &:hover{
            color:$golden-color;
            cursor: pointer;
            text-decoration: underline;
        }
       @include atSmallestScreen{
           font-size: 12px;
       }
   }
   &__copy-write{
       color: $main-white;
       text-align: center;
       vertical-align: middle;
       margin-top: 60px;
   }
   &__input-group{
       display: flex;
       width: 300px;
   }
}
