@import "./assets/styles/mixins";
@import "./assets/styles/variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.btn {
  padding: 0.5rem 0.8rem;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: inherit;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  font-size: 0.7rem;
  cursor: pointer;
  display: inline-block;
  background: $main-white;

  @include atMdScreen {
    font-size: 1rem;
  }

  @include atLgScreen {
    padding: 0.8rem 1rem;
  }
}

.btn-black {
  background: $main-black;
  color: $main-white;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  transition: box-shadow 0.2s linear;

  &:hover {
    box-shadow: none;
  }
}

.btn-grey {
  color: $main-black;
  background: $line-color;
  border-radius: 4rem;
  box-shadow: 0px 0px 13px 2px rgba(230, 230, 232, 1);
  transition: box-shadow 0.2s linear;

  &:hover {
    box-shadow: none;
  }
}

.btn-primary {
  background: $primary-color;
  color: $main-white;
  margin-top: 1rem;
  font-size: 0.9rem;
  box-shadow: 0px 0px 15px 0px rgba(50, 64, 190, 0.75);
}
.btn-danger {
  background: darkred;
  color: $main-white;
  font-size: 0.9rem;
  left: 0;
}
.btn-red {
  background: #DB0E1B;
  color: $main-white;
  font-size: 1em;
  left: 0;
  padding: 1.4rem;
}
.btn-subscribe {
  background: $logo-color;
  color: $main-white;
  padding: 10px;
  font-size: 12px;
  box-shadow: 0px 0px 2px 0px rgba(228, 206, 13, 0.938);
  &:hover {
    background: $primary-color;
  }
}
.section-bg {
  background: $section-bg;
}
// **********************************************************************
// scroll to top style
// **********************************************************************

.scrollTop {
  position: fixed;
  width: 3%;
  bottom: 20px;
  height: 10%;
  z-index: 1;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  right: 0;
  &:hover {
    opacity: 1;
    background-color: $logo-color;
    border-radius: 20px;
    transform: (30px);
  }
  @include atSmallestScreen {
    width: 10%;
  }
}
// **********************************************************************
// paginate
// **********************************************************************
.paginate {
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
// **********************************************************************
/* Set the size of the div element that contains the map */
// map style
// **********************************************************************

.map-div {
  position: relative;
  justify-content: center;
  width: 100%;

  &__card {
    padding: 3%;
    @include atSmallestScreen {
      padding: 1%;
    }
  }
  &__contactUs {
    background-color: white;
    position: absolute;
    top: 0;
    margin-left: 9%;
    justify-self: center;
    @include atSmallestScreen {
      margin-left: 0%;
    }
  }
  &__card-header {
    width: 100%;
    font-size: 2em;
    padding: 2%;
    color: white;
    background-color: $logo-color;
  }
}
// **********************************************************************
// Detail ****************************************
// **********************************************************************

.detailForPrograms {
  width: 80%;
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 30px;
  @include atSmallestScreen {
    display: block;
    margin-left: 4%;
    width: 90%;

  }
  @include atSmScreen{
    display: block;
    margin-left: 4%;
    width: 90%;
  }
  @include atMdScreen{
    display: block;
    margin-left: 4%;
    width: 90%;
  }
  @include atLgScreen {
    display: inline-block; 
  }

  &__image-date {
    width: 40%;
    @include atSmallestScreen {
      width: 95%;
    }
  }
  &__image {
    width: 100%;
    display: block;
    @include atSmallestScreen {
      width: 100%;
    }
  }
  &__detail {
    width: 100%;
    font-size: 1.4em;
    display: block;
    margin-top: 2rem;
    @include atSmallestScreen {
      width: 100%;
      font-size: 1em;
    }
    @include atSmScreen {
      width: 100%;
      font-size: 1em;
    }
    @include atMdScreen {
      width: 100%;
      font-size: 1em;
    }
  }
}

// **********************************************************************
// Sector Detail ****************************************
// **********************************************************************
.DivDetail{
  width: 70%;
  margin-left: 15%;
  margin-bottom: 5%;

}

// **********************************************************************
// Ul ****************************************
// **********************************************************************
.about-ul{
  width: 80%;
  margin-left: 11%;
  font-family: cursive;

}
// **********************************************************************
// careesLink ****************************************
// **********************************************************************
.careesLink{
  width: 80%;
  margin-left: 10%;
  height: 70px;
  background-color:#E9E9E9 ;
  text-align: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 2%;
  margin-top: 2%;


  
}
.careesLink>a{
  color: red;
  font-weight: bold;
  font-family: cursive;
}
.careersMail{
  width: 80%;
  margin-left: 10%;
  font-family: cursive;
}
.careersMail>p>a{
  color: red;
}
.form{
  width: 80%;
  margin-left: 10%;
  font-family: cursive;
  margin-bottom: 3%;
}
.labels{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 5px;
  font-size: 1.1em;
}
.fieldForm{
  background-color:#F2F2F2;
  font-size: .9em;
  width:30%;
  border: 2px solid #f2f2ffb9;
  padding: 20px;
  @include atSmallestScreen{
    width:80%;

  }
}
.scrollabletextbox {
  background-color:#F2F2F2;
  font-size: .9em;
  width:30%;
  border: 2px solid #f2f2ffb9;
  padding: 20px;
  height: 300px;
  @include atSmallestScreen{
    width:80%;

  }
}
.listBox{
  background-color:#F2F2F2;
  font-size: .9em;
  width:30%;
  border: 2px solid #f2f2ffb9;
  padding: 20px;
  text-align: center;
  @include atSmallestScreen{
    width:80%;

  }
}